.error {
    color: red
}

html {
    width: 100%;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(10, auto); 
    gap: 0px;
}

img {
    width: 100%
}

h2 {
    text-align: center;
}